<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.glucoseguardiandylan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PetActivity"></activity>
        <activity
            android:name=".AddEditFeedingActivity"
            android:parentActivityName=".MainActivity" /> <!-- puts the back button into the top left corner of the add note activity -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"> <!-- Stops the back button from relaunching the on create method, when return to the main activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>